* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}

.parent {
  height: 100vh;
  border: 20px solid rgb(0, 0, 0);
  display: flex;
  /*justify-content: flex-start;*/
  /*justify-content: center;*/
  /*justify-content: flex-end;*/
  /*justify-content: space-between;*/
  /*justify-content: space-around;*/
  /*justify-content: space-evenly;*/
  /*align-items: center;*/
  /*align-items: flex-start;*/
  /*align-items: center;*/
  /*flex-direction: column;
  justify-content: space-around;
  align-items: center;*/
  /*flex-wrap: wrap;
  align-content: flex-start;*/
  /*align-items: baseline;*/
  /*flex-flow: column wrap;*/
  /*align-items: baseline;*/
}

.child1 {
  width: 200px;
  height: 200px;
  background: rgb(39, 61, 134);
  /*order: 1;*/
  /*flex-grow: 1;
  /*flex-basis: 400px;*/
  /*flex: 1 1 300px;*/
}

.child2 {
  width: 200px;
  height: 200px;
  background: rgb(172, 57, 53);
  /*order: 4;*/
  /*flex-grow: 1;*/
  /*flex: 1 0 auto;*/
  /*flex: 1;*/
  /*flex: 1 1 300px;*/
  /*align-self: center;*/
}

.child3 {
  width: 200px;
  height: 200px;
  background: rgb(149, 43, 140);
  /*order: 2;*/
  /*flex-grow: 1;*/
  /*flex: 1 1 300px;*/
  align-self: flex-end;
}

.child4 {
  width: 200px;
  height: 200px;
  background: rgb(23, 77, 18);
  /*order: 1;*/
}
